// Import the mixins.
@use '@material/typography' as typography;

//
// Some defaults that may be helpful to you.
// If you just want to use these, and not the classes, you can instead just
// @use '@material/typography/index' as typography, and your CSS file will be smaller.
//
:global(html) {
    @include typography.typography('body1');
}

:global(h1) {
    @include typography.typography('headline1');
}

:global(h2) {
    @include typography.typography('headline2');
}

:global(h3) {
    @include typography.typography('headline3');
}

:global(h4) {
    @include typography.typography('headline4');
}

:global(h5) {
    @include typography.typography('headline5');
}

:global(h6) {
    @include typography.typography('headline6');
}

:global(caption) {
    @include typography.typography('caption');
}

:global(code, pre) {
    font-family: 'Roboto Mono', monospace;
}

:global(small) {
    font-size: 0.9em;
}

:global(big) {
    font-size: 1.1em;
}

:global(b, strong) {
    font-weight: bold;
}